footer {
	flex-shrink: 0;
	bottom: 0;
	
	.container {
		margin-bottom: 5rem;	/* Global setting instead? */
	}
	
	.chs-logo {
		position: relative;
		height: 100%;
		
		img {
			width: 70%;
			max-width: 400px;
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
	
	ul {
		list-style-type: none;
		padding: 0;
	}
}

